../'2020-01-01'
        ../.android/
        ../.atom/
        ../.bash_history
        ../.boto
        ../.gitconfig
        ../.gsutil/
        ../.idlerc/
        ../.lesshst
        ../.m2/
        ../.minttyrc
        ../.sonar/
        ../.ssh/
        ../.viminfo
        ../.vscode/
        ../AppData/
        ../Contacts/
        ../Downloads/
        ../Favorites/
        ../IntelGraphicsProfiles/
        ../Links/
        ../Music/
        ../NTUSER.DAT
        ../NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf
        ../NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms
        ../NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms
        ../OneDrive/
        ../Saved Games/
        ../Searches/
        ../Videos/
        ../d4ac4633ebd6440fa397b84f1bc94a3c.7z
        ../directory/
        ../file1
        ../from
        ../harika
        ../inittk.ini
        ../inst.ini
        ../myrepo/
        ../myrepository11/
        ../ntuser.dat.LOG1
        ../ntuser.dat.LOG2
        ../ntuser.ini
        ../nuuid.ini
        ../select
        ../useruid.ini
        ../vmlogs/
        ../where

